{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Subscription Details</h1>
    <div class="card mt-3 mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <h4>City: {{ subscription.city }}</h4>
            <p>Notification Period: {{ subscription.notification_period }} hours</p>
            <p>Subscription Date: {{ subscription.subscription_date }}</p>

            {% if weather_data %}
                <h5>Weather Data:</h5>
                <ul>
                    <li>Temperature: {{ weather_data.temperature }}°C</li>
                    <li>Humidity: {{ weather_data.humidity }}%</li>
                    <li>Description: {{ weather_data.weather_description }}</li>
                    <li>Time of Data: <span id="time-of-data">{{ weather_data.time_getting }}</span></li>
                </ul>
            {% else %}
                <p>No weather data available for this city.</p>
            {% endif %}

            <a href="{% url 'weather:update_subscription' subscription.id %}" class="btn btn-warning">Update</a>
            <form method="post" action="{% url 'weather:delete_subscription' subscription.id %}" class="d-inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () => {
        const timeOfDataElement = document.getElementById('time-of-data');
        const timeOfData = timeOfDataElement.innerText.trim();
        const localDate = new Date(timeOfData);

        if (isNaN(localDate)) {
            console.error('Invalid Date:', timeOfData);
            timeOfDataElement.innerText = 'Invalid Date';
            return;
        }

        const formattedTime = localDate.toLocaleString('uk-UA', {
            hour: '2-digit',
            minute: '2-digit',
            second: '2-digit',
            year: 'numeric',
            month: 'short',
            day: 'numeric',
            timeZoneName: 'short'
        });

        timeOfDataElement.innerText = formattedTime;
    });
</script>

{% endblock %}
