{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Confirm Password Reset</h1>
    <div class="card mt-3 mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="{{ form.new_password1.id_for_label }}" class="col-sm-4 col-form-label text-end">{{ form.new_password1.label }}</label>
                    <div class="col-sm-6">
                        {{ form.new_password1 }}
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="{{ form.new_password2.id_for_label }}" class="col-sm-4 col-form-label text-end">{{ form.new_password2.label }}</label>
                    <div class="col-sm-6">
                        {{ form.new_password2 }}
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary btn-lg">Confirm</button>
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'weather:home' %}" class="btn btn-link">Back to home page</a>
                <a href="{% url 'login' %}" class="btn btn-link">Login</a>
                <a href="{% url 'register' %}" class="btn btn-link">Register</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
