{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Password Reset</h1>
    <div class="card mt-3 mx-auto" style="max-width: 600px;">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                <div class="mb-3 row">
                    <label for="{{ form.email.id_for_label }}" class="col-sm-3 col-form-label text-end">{{ form.email.label }}</label>
                    <div class="col-sm-7">
                        {{ form.email }}
                    </div>
                </div>
                <div class="text-center mt-3">
                    <button type="submit" class="btn btn-primary">Reset Password</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
